<?xml version="1.0" encoding="UTF-8"?>
<dict>
	<dict>
		<key>title</key>
		<string>17 years and 11 months</string>
		<key>sound</key>
		<string>seventeen_years_and_11months</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Awesome Video Resume</string>
		<key>sound</key>
		<string>awesome_video_resume</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Barney Xmas message</string>
		<key>sound</key>
		<string>barney_tinsons_xmas_message</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Barney Yoda</string>
		<key>sound</key>
		<string>barney_yoda</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Challenge accepted</string>
		<key>sound</key>
		<string>challenge_accepted</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Daddy's home</string>
		<key>sound</key>
		<string>daddys_home</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Devil spare costume</string>
		<key>sound</key>
		<string>devil_spare_costume_halloween</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Barney and God</string>
		<key>sound</key>
		<string>god_its_me_barney</string>
	</dict><dict>
		<key>title</key>
		<string>Legen...dary</string>
		<key>sound</key>
		<string>legen_dary</string>
	</dict><dict>
		<key>title</key>
		<string>Be awesome instead</string>
		<key>sound</key>
		<string>stop_being_sad_be_awesome_instead</string>
	</dict>
</dict>
